* {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: rgb(97, 97, 255);
}

.Logotype {
    margin: 16px 0 16px 0;
    color: white;
}

.Page {
    display: flex;
    flex-direction: column;

    align-items: center;
}